<!-- Navbar reutilizable -->
<header class="navbar">
    <div class="logo">
        <img src="../assets/img/logo.png" alt="EduCírculos Logo">
        <span>EduCírculos</span>
    </div>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../pages/cursos.html">Cursos</a></li>
            <li><a href="../pages/circulos.html">Círculos</a></li>
            <li><a href="../pages/planes.html">Planes</a></li>
            <li><a href="../login.html" class="btn btn-primary">Ingresar</a></li>
        </ul>
    </nav>
</header>